{% extends "main.html" %}

{% block content %}

  <div class="container pt-3">

    <div class="row justify-content-md-center mb-4">
      <h1>Deteksi Masker Seacara Realtime</h1>
    </div>

    <div class="row justify-content-md-center">
      <img src="../static/img/photo1.png" alt="" style="height: 30em; width: 50em;">
    </div>

    <div class="form-container ">
        <form class="form-horizontal" method="post">

          <p>Selama masa pademi COVID-19, masker merupakan hal yang wajib untuk dikenakan terutama pada masa adaptasi kebiasaan baru karena mampu mencegah terpaparnya virus SARS-CoV-2. Dengan menggunakan masker, cipratan droplets menjadi terhalang masuk ke mulut atau hidung seseorang. Hal tersebut yang menyebabkan masker menjadi alat penting untuk melindungi diri serta orang lain dalam mencegah penularan COVID-19.</p>

          <p>Masker wajib dikenakan jika berada di luar rumah, ketika berbicara dengan orang lain, dan ketika sedang sakit agar tidak menularkan dan tertular penyakit. Selama masa adaptasi kebiasaan baru yang sudah memasuki bulan kelima, berbagai upaya telah dilakukan oleh pemerintah untuk mengajak masyarakat menggunakan masker. Salah satunya melalui kolaborasi dengan tokoh masyarakat, ulama, dan relawan untuk menyukseskan gerakan menggunakan masker agar terciptanya suatu kebiasaan dan perilaku baru di masyarakat. </p>

          <p>Dalam menerapkan kampanye menggunakan masker di masyarakat, unsur pentahelix atau 5 unsur yakni pemerintah, dunia usaha, akademisi, masyarakat dan media massa menjadi sangat penting. Kolaborasi ini penting guna menunjukan kontribusi semua pihak untuk berkomitmen melakukan peran-peran dalam penanganan COVID-19.</p> 

          <p>Kolaborasi yang dilakukan seperti mengajak para pakar dari setiap daerah untuk menyusun materi atau konten mengenai protokol kesehatan sesuai dengan bahasa lokal. Agen perubahan atau tokoh masyarakat pun beragam di setiap tempatnya agar setiap tokoh mampu menggerakan masyarakat di sekitarnya dan dibekali materi agar mampu mengedukasi dengan baik dengan pendekatan kearifan lokal.</p> 

          <p>Untuk membantu pemerintah dalam memantau kepatuhan masyarakat dalam memakai masker, sistem ini dapat dimanfaatkan untuk itu. sistem ini dapat mendeteksi orang menggunakan masker atau tidak. sehingga dengan itu pemerintah dapat melihat kepatuhan masyarakatnya dalam menggunakan masker.</p>

          <p>Selain itu juga, sistem ini sangat mudah untuk digunakan. Kita tidak perlu repot-repot melakukan ini itu. cukup dengan satu kklik maka sistem dapat langsung digunakan. Dengan demikian orang yang tidak terlau mengerti teknologi juga dapat menggunakan sistem ini.</p>

          <p>Berikut merupakan langkah-langkah menggunakan sistem deteksi masker ini : </p>
          <ol>
            <li>Silahkan mengunjungi situs www.deteksimasker.com</li>
            <li>Setelah berada di halaman utama, baca baik-baik pentuk yang ada.</li>
            <li>Setelah itu masuk ke menu deteksi.</li>
            <li>Tunggu beberapa saat, hingga muncul frame yang menampilkan gambar dari kamera yang terpasang pada perangkat.</li>
            <li>Selanjutnya tinggal memantau aja. jika ada orang yang terdeteksi tidak menggunakan masker maka sistem akan memberikan peringatan suara.</li>
            <li>Selesai -v</li>
          </ol>

          <!-- <p>Guna mencegah penyebaran virus Covid-19, Pemerintah telah mengeluarkan kebijakan Physical Distancing serta kebijakan bekerja, belajar, dan beribadah dari rumah. Namun, bagi kalian yang harus banget beraktivitas di luar rumah jangan lupa selalu pakai masker ya. Pemerintah mewajibkan seluruh masyarakat Indonesia untuk mengenakan masker saat beraktivitas di luar rumah.</p>


        
          <p>Memakai Masker saat beraktivitas bersama orang lain, terutama di luar rumah bukan sekadar cara mencegah diri terinfeksi COVID-19, tetapi juga bentuk kepedulian pada orang-orang di sekitar kita. Kita memiliki orang tua, saudara, keluarga di rumah, kawan, kolega, sahabat, dan orang-orang terkasih di sekitar kita. Jika kita abai memakai masker dengan benar dapat membawa risiko bagi mereka.</p>
          <p>Sistem deteksi masker ini membantu dalam memantau orang yang patuh menggunakan maskaer di tempat umum. Sistem ini juga bisa dimanfaatkan untuk di rumah. Seperti memantau tamu yang datang ke rumah kita, apakah menggunakan masker atau tidak. Jika tamu yang datang tidak menggunakan masker maka alarem memberikan peringatan untuk memakai masker melalui pengeras suara yang terpasang di rumah.</p> -->
        </form>
    </div>
  </div>


{% endblock %}